<div class="row">
    <div class="col-md-8 plantegning">
        <img class="maps" src="/uploads/plantegning_lysningen.png" alt="" usemap="#Map_2nd" title="" id="f2_r0">
        <map name="Map_2nd">
            <area shape="poly" coords="12,310,119,239,219,284,188,314,162,302,93,349" href="/#/viTilbyr/2ndFloor/lysningen" class="mapping" rel="th_2nd_1_950.png">
            <area shape="poly" coords="95,355,164,307,252,347,185,397" href="/#/viTilbyr/2ndFloor/blikkfang" class="mapping">
            <area shape="poly" coords="523,445,383,373,484,302,622,372" href="/#/viTilbyr/2ndFloor/spillrommet" class="mapping">
        </map>
    </div>
    <div class="col-md-4 plantegning-beskrivelse">
        {{room-description room=controller.model}}
    </div>
</div>