body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #333;
    background: #FFF;
    margin: 0;
}

h1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.5em;
    position: relative;
    margin-left: 0px;
}

h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.375em;
    color: #999;
}

h1.barHeader, h2.barHeader{
	margin-top: 0.8em;
	margin-left: 0.8em;
	text-transform: uppercase;
	color: #FFF;
	background-color: #214B8E; 
	position: relative;
	float: left;
	clear: both;
	padding: 0 0.4em 0.1em 0em;
	font-weight: lighter;
}

h3{
	font-size: 1.250em;
}

h4	{
	clear: both;
	font-size: 1.125em;
}

p*	{
	font-size: 1.6em;
}

div.col-md-12{
	padding: 0px;
}

div.col-md-12 img, div.col-md-6 img{
	margin-top: 2em;	
	margin-bottom: 0.4em;
}

div.col-md-6 p{
	clear: both;
}

.weekSelector {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 42px;
    color: gray;
    margin-top: 40px;
}

.rotate180deg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.chevron {
    display:inline-block;
    width: .5em;
    height: .8em;
    position:relative;
}
.chevron:before,
.chevron:after {
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
}
.chevron:before {
    right:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent red;
}
.chevron:after {
    left:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent #fff;
}
.chevron.skinny {
    width:.4em;
}
.chevron.fat {
    width:.6em;
}

 {
    margin-top: 10px;
}

.roomBooking {
    cursor: pointer;
    background: #ddd;
}

.weekText {
    color: #19498f;
    text-transform: uppercase;
    font-size: 22px;
}

.weekDates {
    color: #000;
}

.navbar-header	{
	margin-top: 1.6em;
}

@media (min-width: 320px) {
    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .roomBooking {
        margin-bottom: 15px;

    }

    .headerLogo {
        width: 200px;
    }

    .foresporselForm {
        width: 100%
    }
}

.weekDates {
    font-size: 0.7em;
}

@media (min-width: 768px) {
    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .roomBooking {
        min-height: 125px;
    }

    .headerLogo {
        width: 250px;
    }

    .foresporselForm {
        width: 100%
    }
}

@media (min-width: 992px) {
    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .roomBooking {
        min-height: 125px;
    }

    .headerLogo {
        width: 300px;
    }

    .foresporselForm {
        width: 80%
    }
}

@media (min-width: 1200px) {
    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 55px;
        margin-right: 55px;
    }

    .roomBooking {
        min-height: 125px;
    }

    .headerLogo {
        width: 338px;
    }

    .foresporselForm {
        width: 80%
    }
}



.uppercase {
    text-transform:uppercase;
}

#headerArea {
    background: #a4bec1;
    color: #E4F0F5;
}

.navbar {
    background: #a4bec1;
    color: #fff;
    border: 0px;
    font-size: 0.95em;
    letter-spacing: 0.05em;
}

.navbar li a {
    color: #fff;
    padding-top: 55px;
}

.navbar li a:hover {
    color: #7D9399;
    font-weight: 600;
}

#mainArea {

}

.selected {
    background: #40c5e9;
}

.double-selected {
    background: #40c5e9; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #40c5e9 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#40c5e9), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #40c5e9 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #40c5e9 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #40c5e9 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
    background: linear-gradient(135deg,  #40c5e9 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c5e9', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn {
    border-radius: 0px;
}

.opptatt {
    background: #6b6b6b;
    color: #7e7e7e;
}

.ledig {
    background: #e2e2e0;
}

.non-selected {
    background: #f7f7f7;
}

.delvis-opptatt {
    background: #6b6b6b;
    color: #7e7e7e;
}

.barHeader:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 36px;
    background: #f39400;
    margin-top: -12px;
    margin-left: -19px;
    margin-right: 10px;
}

h2.barHeader:before {
	margin-left: -17px;
}

.pageContent {
	font-weight: normal;
}

@media (min-width: 768px) {
    .pageContent {
        margin: 0 auto;
        padding: 0;
        width: 750px;
    }
}

@media (min-width: 992px) {
    .pageContent {
        margin: 0 auto;
        padding: 0;
        width: 950px;
    }
    
    .txt60{
	    width:60%;

	    display: block;
    }
}
/*
@media (min-width: 1200px) {
    .pageContent {
        margin: 0 auto;
        padding: 0;
        width: 1100px;
    }
}
*/

.purpleBackground {
    background: #5068AB;
    color: #E9F2F1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.purpleBackground h1 {
    color: #E9F2F1;
}

.purpleBackground p.even {
    padding: 20px;
    background-color: rgba(122, 125, 160, 0.43);
}

.purpleBackground ul {
    list-style: none;
}

.purpleBackground ul li {
    margin-left: -20px;
}

.piText {
    color: #e1a836;
    margin-left: 50px;
}

.yellowBackground {
    background: #dada4d;
    color: #525468;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yellowBackground h1 {
    color: #525468;
}

.yellowBackground p.even {
    padding: 20px;
    background-color: rgba(122, 125, 160, 0.43);
}

ul.toppmeny li .active {
    text-decoration: underline;
}
.yellowBackground ul {
    list-style: none;
}

.yellowBackground ul li {
    margin-left: -20px;
}

.infobox {
    background: #dbdbdb;
    font-size: 12px;
}

.infobox h1 {
    font-size: 28px;
}

.tenMarginGap {
    margin-top: 10px;
}

#footerArea {
    background: #A4BFC3;
    color: white;
    font-weight: 700;
    height: 5em;
    padding-top: 20px;
    font-size: 16px;
}

.livicon {
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    height: 18px!important;
}

.pointer {
    cursor: pointer;
}

.room-div {
    width: 300px;
    min-height: 150px;
    padding: 10px;
}

table.room-table {

}

table.room-table-header {
    background: none;
    margin-bottom: 10px;
    width: 100%;
}

table.room-table tr td {
    width: 250px;

    border: 1px solid #fff;
    line-height: 1.2em;
}

table.hour {
    width: 100%;
}

table.hour tr td {
    text-align: center;
    background: #f7f7f7;
    line-height: 30px;
}

table.hour tr td.selected {
    background: #40c5e9;
}

table.hour tr td.opptatt {
    background: #6b6b6b;
}

table.hour tr td.day-feature {
    text-align: center;
    width: 18px;
}

.sub-total {
    font-weight: 900;
}

div.booked-row {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

div.room-name-heading {
    text-transform:uppercase;
    font-size: 1.1em;
    color: #19498f;
    font-weight: 100;
}

.remove-hour-btn {
    width: 20px;
    margin-left: 0;
    background: #e94040;
}

.reserve-btn {
    line-height: 32px;
    width: 100%;
}

/** Sprites **/

.sprite { background: url('/images/sprite.png') no-repeat top left;  }
.sprite.blikkfang_a { background-position: 0px 0px; width: 66px; height: 36px;  }
.sprite.blikkfang_b { background-position: 0px -46px; width: 66px; height: 36px;  }
.sprite.blikkfang_c { background-position: 0px -92px; width: 66px; height: 36px;  }
.sprite.fyrtarnet_a { background-position: 0px -138px; width: 66px; height: 36px;  }
.sprite.fyrtarnet_b { background-position: 0px -184px; width: 66px; height: 36px;  }
.sprite.fyrtarnet_c { background-position: 0px -230px; width: 66px; height: 36px;  }
.sprite.innsikt_a { background-position: 0px -276px; width: 66px; height: 36px;  }
.sprite.innsikt_b { background-position: 0px -322px; width: 66px; height: 36px;  }
.sprite.innsikt_c { background-position: 0px -368px; width: 66px; height: 36px;  }
.sprite.inspirasjon_a { background-position: 0px -414px; width: 66px; height: 36px;  }
.sprite.inspirasjon_b { background-position: 0px -460px; width: 66px; height: 36px;  }
.sprite.inspirasjon_c { background-position: 0px -506px; width: 66px; height: 36px;  }
.sprite.klokke_icon { background-position: 0px -552px; width: 13px; height: 16px;  }
.sprite.lysningen_a { background-position: 0px -578px; width: 66px; height: 36px;  }
.sprite.lysningen_b { background-position: 0px -624px; width: 66px; height: 36px;  }
.sprite.lysningen_c { background-position: 0px -670px; width: 66px; height: 36px;  }
.sprite.spillrommet_a { background-position: 0px -716px; width: 66px; height: 36px;  }
.sprite.spillrommet_b { background-position: 0px -762px; width: 66px; height: 36px;  }
.sprite.spillrommet_c { background-position: 0px -808px; width: 66px; height: 36px;  }

.klokke {
    width: 16px;
    min-width: 16px;
}
.attributionText {
    font-size: 14px;
    margin-top: 10px;
}

.attributionText a {
    color: #ffffff;
}

.calendarLegend {
    margin-right: 15px;
    margin-left: 15px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: inline-block;
}

.calendarIcon {
    font-size: 46px;
}