body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.46;
    color: #4d4d4d;
    background: #FFF;
    margin: 0;
    font-size: 62.5%;
}

h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 32px;
    font-size: 3.2rem;
    position: relative;
    margin-left: 0px;
}

h2 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 2rem;
    color: #999;
}

h1.underscore-header {
    text-align: center;
}

div.room-name-heading.booked-row{
    position: relative;
    margin-bottom: 60px;
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;
}

h1.underscore-header:after, div.room-name-heading:after{
    content: "";
    background: #ff9b00;
    text-align: center;
    position: absolute;
    left: 47.5%;
    bottom: -30px;
    float: none;
    height: 5px;
    width: 33px;
    clear:both;
}

div.room-name-heading:after{
    left: 133px;
}

tr, .row{
    font-size: 1.5rem;
}

h1.barHeader, h2.barHeader{
    margin-top: 0.8em;
    margin-left: 0.8em;
    text-transform: uppercase;
    color: #FFF;
    background-color: #214B8E;
    position: relative;
    float: left;
    clear: both;
    padding: 0 0.4em 0.1em 0em;
    font-weight: lighter;
}

.room-overview {
    margin-top: 40px;
}

/* Colours */

.cick, .pink{
    color: #d90041;
}

.warm{
    color: #ff581e;
}

.sun{
    color: #ff9b00;
}

.navy{
    color: #004b8e;
}

.sky, .himmel{
    color: #46bee6;
}

.silver{
    color: #c0c0c0;
}

.gray{
    color: #4d4d4d;
}

/* Fontvekt */

.bold{
    font-weight:bold;
}


.backgroundParallax {
    position: relative;
    max-height: 800px;
    height: 600px;

    margin-top: 35px;

    margin-bottom: 75px;
    width: 100%;
}

.large-page-header {
    color: #ffffff;
    padding-top: 250px;
    padding-left: 50%;
    padding-right: 30px;
    text-align: left;
    font-size: 3.6rem;
}

.large-page-content {
    color: #ffffff;
    padding-left: 50%;
    padding-right: 25vw;
    line-height: 35px;
    text-align: left;
    font-weight: normal;
    font-size: 22px;
    font-size: 2.2rem;
}

.large-page-buttons {
    color: #ffffff;
    padding-left: 50%;
    padding-right: 30px;
    line-height: 35px;
    font-size: 2.2rem;
    text-align: left;
    margin-top: 20px;
}

.large-page-buttons button {
    margin-right: 35px;
}

.index-meeting-overview {
    background-color: #fff;
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
}

.index-meeting-overview h1 {
    font-size: 3.6rem;
    color: #d90041;
}

.index-meeting-overview h2 {
    font-size: 3rem;
}

#googlemaps {
    z-index: 0;
    height: 400px;
    width: 100%;
}

.index-contact-page {
    position: relative;
    background-color: #c0c0c0;
    text-align: center;
    opacity: .65;
    color: #000;
    z-index: 1;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -350px;
}

.index-contact-header {
    font-size: 4rem;
}

.index-contact-text {
    color: #000;
    line-height: 35px;
    text-align: center;
}

.index-contact-page .row {
    font-size: 2.5rem;
}

.index-contact-page .row .col-md-4 {
    text-align: right;
}

.index-contact-page .row .col-md-6 {
    text-align: left;
}

.shaded-background {
    background-color: #e1e1e1;
}

.large-text-overview {
    padding-top: 150px;
    padding-bottom: 150px;
}

.large-text-header {
    font-size: 40px;
}

.large-text-area {
    color: #000;
    line-height: 35px;
    font-size: 28px;
}

.quotes-quote {
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
}
.quotes-style {
    color: #46bee6;
}

.white-background {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.quotes-text {
    font-size: 22px;
}

.quotes-from {
    color: #46bee6;
    font-size: 18px;
    padding-top: 25px;
    text-align: right;
}

.tn-btn-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tn-btn-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tn-btn-center {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tn-btn {
    border: solid 1px #cccccc;
    padding: 3px 10px;
    min-width: 200px;
    min-height: 50px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 1px;
    margin-right: -4px;
    background-color: #fff;

    transition:1s all;
}

.tn-btn-rounded {
    border-radius: 25px;
}

.tn-btn-small {
    border: solid 1px #cccccc;
    padding: 3px 10px;
    min-width: 100px;
    min-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-right: -4px;
    background-color: #fff;

    transition:1s all;
}


.tn-btn-primary {
    background-color: #46bee6;
    border: 1px solid #c0c0c0;
    -moz-box-shadow: inset 0 0 5px 5px #249ed7;
    -webkit-box-shadow: inset 0 0 5px 5px #249ed7;
    box-shadow: inset 0 0 5px 5px #249ed7;
    color: #fff;
    transition:1s all;
}

.tn-btn-default.active {
    background-color: #46bee6;
    border: 1px solid #c0c0c0;
    -moz-box-shadow: inset 0 0 5px 5px #249ed7;
    -webkit-box-shadow: inset 0 0 5px 5px #249ed7;
    box-shadow: inset 0 0 5px 5px #249ed7;
    color: #fff;
    transition:1s all;
}

.tn-btn-selected {
    background-color: #0baa27;
    border: 1px solid #0baa27;
    color: #fff;

    transition:1s all;
}

.tn-btn-warning {
    background-color: #ff581e;

    transition:1s all;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

.room-description-image {
    border: none;
    height: auto;
    min-width: 100%;
    width: auto;
}

.room-overview .col-md-8{
    float: right;
}

.room-overview .col-md-4{
    float: left;
}


.bookingTypeSelectorDiv .tn-btn {
    min-width: 120px;
    font-size: 2rem;
}

.booking-matched-room-slots .tn-btn{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-right: -4px;
    min-height: inherit;
    min-width: inherit;
    padding: 3px 6px;
    text-transform: uppercase;
}

.booking-matched-room-slots .text-left{
    margin-bottom: 17px;
}

.booking-filter.pageContent{
    margin-top:50px;
}

.booking-filter .row{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-content: center;
}

.booking-filter .col-md-4{
    width:auto;
    margin-left: auto;
    margin-right:auto;
    display: inline-block;
    text-align: center;
    float: none;
}

.booking-intro .col-md-4{
    width: 33.3333%;
    min-width: 300px;
}

.booking-filter .col-md-offset-2{
    margin-left: auto;
}




.bookingTypeSelectorDiv h2 {
    font-size: 1.4rem;
    font-style: italic;
}

.booking-matched-room {
    max-width: 284px;
}

.current-day-button.tn-btn {
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.next-day-button.tn-btn {
    color: #000;
    letter-spacing: 1px;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    min-width:100px;
}


.booking-filter .row {
    margin-top: 5px;
}
.booking-filter div{
    margin-bottom: 15px;
}

.booking-matched-room-slots div, .booking-matched-room img{
    margin-bottom: 7px;
}

div.booking-matched-room-name{
    margin-bottom: 0px;
}

div.booking-matched-room-pris{
    margin-bottom: 12px;
}

.booking-matched-room-name, .booking-matched-room-pris{
    text-align: left;
}

.booking-filter h1 {
    font-size: 1.75em;
}

.large-btn-group {
    margin-top: 50%;
    margin-left: auto;
}

.large-margin-bottom {
    margin-bottom: 250px;
}

h3{
    font-size: 1.8rem;
}

h4	{
    clear: both;
    font-size: 1.125em;
}

p*	{
    font-size: 1.6em;
}

div.col-md-12{
    padding: 0px;
}

div.col-md-12 img, div.col-md-6 img{
    margin-top: 2em;
    margin-bottom: 0.4em;
}

div.col-md-6 p{
    clear: both;
}

.weekSelector {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 42px;
    color: gray;
    margin-top: 40px;
}

.rotate180deg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.chevron {
    display:inline-block;
    width: .5em;
    height: .8em;
    position:relative;
}
.chevron:before,
.chevron:after {
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
}
.chevron:before {
    right:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent red;
}
.chevron:after {
    left:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent #fff;
}
.chevron.skinny {
    width:.4em;
}
.chevron.fat {
    width:.6em;
}

.roomBooking {
    cursor: pointer;
    background: #ddd;
}

.weekText {
    color: #004b8e;
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
}

.weekDates {
    color: #000;
}

.navbar-header	{
    margin-top: 1.6em;
}

.dropdown-menu {
    background: #c0c0c0;
    color: white;
}


.uppercase {
    text-transform:uppercase;
}

#headerArea {
    background: #fff;
    color: #c0c0c0;
    margin-bottom: 50px;
}

.topNav {
    margin-top: 60px;
}

ul.toppmeny {
    text-transform: uppercase;
    background: #fff;
    color: #c0c0c0;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    font-weight: 300;
    list-style: none;
    padding-left: 0;
}

ul.toppmeny li {
    display: inline;
    position: relative;
}

ul.toppmeny li a {
    color: #666;
    padding-top: 55px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
    text-decoration: none;
    padding-bottom: 5px;
    /*    border-bottom: 5px #c0c0c0 solid;*/
    font-size: 2rem;
    font-weight: 300;
}

ul.toppmeny li a:after{
    content: "";
    background: #c0c0c0;
    position: absolute;
    bottom: -13px;
    left: 0;
    height: 5px;
    width: 33px;
}

ul.toppmeny li a:hover:after {
    background: #d90041;

}

ul.toppmeny li a.active:after{
    background: #ff9b00;
}




ul.toppmeny li a.active {
    color: #004b8e;
    text-decoration: none;
    /*    border-bottom: 5px #ff9b00 solid;*/
}


.navbar-collapse{
    padding: 0;
}


#mainArea {

}

.selected {
    background: #40c5e9;
}

.selected.calendarLegend{
    border: 2px solid #40c5e9;
}

.selectedColor {
    color: #40c5e9;
}


.double-selected {
    background: #40c5e9; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #40c5e9 0%, #40c5e9 50%, #79e3f8 51%, #79e3f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#40c5e9), color-stop(50%,#40c5e9), color-stop(51%,#79e3f8), color-stop(100%,#79e3f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #40c5e9 0%,#40c5e9 50%,#79e3f8 51%,#79e3f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #40c5e9 0%,#40c5e9 50%,#79e3f8 51%,#79e3f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #40c5e9 0%,#40c5e9 50%,#79e3f8 51%,#79e3f8 100%); /* IE10+ */
    background: linear-gradient(135deg,  #40c5e9 0%,#40c5e9 50%,#79e3f8 51%,#79e3f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c5e9', endColorstr='#79e3f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn {
    border-radius: 0px;
}

.opptatt {
    background: #6b6b6b;
    color: #7e7e7e;
}

.opptatt.calendarLegend{
    border: 2px solid #6b6b6b;
}


.ledig {
    background: #fff;
}

.ledig.calendarLegend{
    border: 2px solid #343697;
}


.non-selected {
    background: #f7f7f7;
}

.delvis-opptatt {
    background: #6b6b6b;
    color: #f2f3f6;
}

.barHeader:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 36px;
    background: #f39400;
    margin-top: -12px;
    margin-left: -19px;
    margin-right: 10px;
}

h2.barHeader:before {
    margin-left: -17px;
}

.pageContent {
    font-weight: normal;
}

.purpleBackground {
    background: #5068AB;
    color: #E9F2F1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.purpleBackground h1 {
    color: #E9F2F1;
}

.purpleBackground p.even {
    padding: 20px;
    background-color: rgba(122, 125, 160, 0.43);
}

.purpleBackground ul {
    list-style: none;
}

.purpleBackground ul li {
    margin-left: -20px;
}

.piText {
    color: #e1a836;
    margin-left: 50px;
}

.yellowBackground {
    background: #dada4d;
    color: #525468;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yellowBackground h1 {
    color: #525468;
}

.yellowBackground p.even {
    padding: 20px;
    background-color: rgba(122, 125, 160, 0.43);
}

.yellowBackground ul {
    list-style: none;
}

.yellowBackground ul li {
    margin-left: -20px;
}

.infobox {
    background: #dbdbdb;
    font-size: 12px;
}

.infobox h1 {
    font-size: 28px;
}

.tenMarginGap {
    margin-top: 10px;
}

#footerArea {
    background: #c0c0c0;
    color: white;
    font-weight: 700;
    height: 5em;
    padding-top: 20px;
    font-size: 16px;
}

.livicon {
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    height: 18px!important;
}

.pointer {
    cursor: pointer;
}

.room-div {
    width: 300px;
    min-height: 150px;
    padding: 10px;
}

table.room-table {

}

table.room-table-header {
    background: none;
    margin-bottom: 10px;
    width: 100%;
}

table.room-table tr td {
    width: 250px;
    border: 2px solid #ddd;
    line-height: 1.2em;
    padding-left: 3px;
}
table.room-table tr td.selected {
    color: #fff;
}

table.hour {
    width: 100%;
}

table.hour tr td {
    text-align: center;
    background: #f7f7f7;
    line-height: 30px;
}

table.hour tr td.selected {
    background: #40c5e9;
}

table.hour tr td.opptatt {
    background: #6b6b6b;
}

table.hour tr td.day-feature {
    text-align: center;
    width: 18px;
}

.sub-total {
    font-weight: 900;
}

div.booked-row {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

/*div.room-name-heading {
    text-transform:uppercase;
    font-size: 1.1em;
    color: #004b8e;
    font-weight: 100;
}*/

div.room-name-heading, .booked-row{
    text-align: left;
}

.remove-hour-btn {
    width: 20px;
    margin-left: 0;
    background: #e94040;
}

.reserve-btn {
    border-radius: 25px;
    border-color: transparent;
    width: 100%;
    min-height: 50px;
    padding: 3px 10px;
    font-weight: 300;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 1px;
    margin-top: 15px;
}

.btn-xs{
    margin-right: 6px;
}

.bookingTypeSelectorDiv {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.bookingTypeSelector {
    background: #fafafa url("/images/downarrow.png") no-repeat 90% 50%;
    display: inline-block;
}

.bookingTypeSelector select {
    background: transparent;
    width: 100px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    border-bottom: 2px #004b8e solid;
    -webkit-appearance: none;
}

.booking-chooser {
    min-height: 600px;
}

.booking-intro {
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}
/** Sprites **/

.sprite { background: url('/images/sprite.png') no-repeat top left;  }
.sprite.blikkfang_a { background-position: 0px 0px; width: 66px; height: 36px;  }
.sprite.blikkfang_b { background-position: 0px -46px; width: 66px; height: 36px;  }
.sprite.blikkfang_c { background-position: 0px -92px; width: 66px; height: 36px;  }
.sprite.fyrtarnet_a { background-position: 0px -138px; width: 66px; height: 36px;  }
.sprite.fyrtarnet_b { background-position: 0px -184px; width: 66px; height: 36px;  }
.sprite.fyrtarnet_c { background-position: 0px -230px; width: 66px; height: 36px;  }
.sprite.innsikt_a { background-position: 0px -276px; width: 66px; height: 36px;  }
.sprite.innsikt_b { background-position: 0px -322px; width: 66px; height: 36px;  }
.sprite.innsikt_c { background-position: 0px -368px; width: 66px; height: 36px;  }
.sprite.inspirasjon_a { background-position: 0px -414px; width: 66px; height: 36px;  }
.sprite.inspirasjon_b { background-position: 0px -460px; width: 66px; height: 36px;  }
.sprite.inspirasjon_c { background-position: 0px -506px; width: 66px; height: 36px;  }
.sprite.klokke_icon { background-position: 0px -552px; width: 13px; height: 16px;  }
.sprite.lysningen_a { background-position: 0px -578px; width: 66px; height: 36px;  }
.sprite.lysningen_b { background-position: 0px -624px; width: 66px; height: 36px;  }
.sprite.lysningen_c { background-position: 0px -670px; width: 66px; height: 36px;  }
.sprite.spillrommet_a { background-position: 0px -716px; width: 66px; height: 36px;  }
.sprite.spillrommet_b { background-position: 0px -762px; width: 66px; height: 36px;  }
.sprite.spillrommet_c { background-position: 0px -808px; width: 66px; height: 36px;  }

.klokke {
    width: 16px;
    min-width: 16px;
}
.attributionText {
    font-size: 14px;
    margin-top: 10px;
}

.attributionText a {
    color: #ffffff;
    font-weight: 600;
}

.calendarLegend {
    margin-right: 15px;
    margin-left: 15px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: inline-block;
}

.calendarIcon {
    font-size: 46px;
}

.fullWidth {
    width: 100%;
}

.thinborder {
    border: 1px solid #000;
}

.partnerlogo {
    clear: both;
    display: block;
    margin-bottom: 2em;
    text-align: center;
}

.partnerlogo img {
    display: inline-block;
    margin: 0.5em;
    max-width: 180px;
    padding: 0;
    vertical-align: baseline;
}





@media (min-width: 320px) {
    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .roomBooking {
        margin-bottom: 15px;

    }

    .headerLogo {
        width: 230px;
        margin-right: 40px;
    }

    .foresporselForm {
        width: 100%
    }
}

.weekDates {
    font-size: 0.7em;
}

@media (min-width: 768px) {
    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .roomBooking {
        min-height: 125px;
    }

    .headerLogo {
        width: 230px;
    }

    .foresporselForm {
        width: 100%
    }

    .pageContent {
        margin: 0 auto;
        padding: 0;
        width: 750px;
    }
}

@media (min-width: 992px) {
    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .roomBooking {
        min-height: 125px;
    }

    .headerLogo {
        width: 230px;
    }

    .foresporselForm {
        width: 80%
    }

    .pageContent {
        margin: 0 auto;
        padding: 0;
        width: 950px;
    }

    .txt60{
        width:60%;

        display: block;
    }
}

@media (min-width: 1200px) {
    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 55px;
        margin-right: 55px;
    }

    .roomBooking {
        min-height: 125px;
    }

    .headerLogo {
        width: 230px;
    }

    .foresporselForm {
        width: 80%
    }
    /*

        .pageContent {
            margin: 0 auto;
            padding: 0;
            width: 1100px;
        }

    */
}


@media (min-width: 0px) {
    .booking-matched-room-slots .col-sm-4{
        width: 33.33333333%;
        display: inline-block;
    }
}

@media (max-width: 749px) {
    .room-overview .col-md-8, .room-overview .col-md-4{
        float: none;
    }

    .booking-matched-room-slots .col-sm-4{
        width: 87px;
        padding: 2px;
        display: inline-block;
    }

    .col-md-5 {
        max-width: 284px;
        margin: 0 auto;
        float: none;
    }

    .booking-matched-room-slots .tn-btn{
        font-size: 14px;
    }

    .next-day-button.tn-btn{
        min-width: 80px;
        font-size: 14px;
    }
}





