<div class="row">
    <div class="col-md-8 plantegning">
        <img class="maps" src="/uploads/plantegning_inspirasjon.png" alt="" usemap="#Map_3rd" title="" id="f3_r0">
        <map name="Map_3rd">
            <area shape="poly" coords="211,106,349,8,477,70,336,169" href="/#/viTilbyr/3rdFloor/fyrtaarnet"  class="mapping">
            <area shape="poly" coords="15,241,125,163,399,296,288,375" href="/#/viTilbyr/3rdFloor/inspirasjon" class="mapping">
            <area shape="poly" coords="345,344,492,235,622,300,463,408" href="/#/viTilbyr/3rdFloor/innsikt" class="mapping">
        </map>
    </div>
    <div class="col-md-4 plantegning-beskrivelse">
        {{room-description room=controller.model}}
    </div>
</div>