<div class="pageContent" style="text-align: right">
    <img src="images/teknologihuset_symbol2.png"/>
</div>
<div id="footerArea">
    <div class="pageContent">Teknologihuset - House of Communities - Pilestredet 56</div>
</div>