<div id="headerArea">
    <div class="pageContent">
        <nav class="topNav">
            <ul class="toppmeny">
                {{#link-to "index" tagName="li" classNames="uppercase menuPunkt"}}<img src="/uploads/tn_header_logo.jpg" class="headerLogo" />{{/link-to}}

                {{#each page in controllers.index.toppmenySider}}
                    <li class="menu-text-link">
                        {{#if page.route}}
                            {{link-to page.overskrift page.route class="menuLink"}}
                        {{else}}
                            {{link-to page.overskrift "pages.page" page class="menuLink"}}
                        {{/if}}

                    </li>
                {{/each}}
            </ul>
        </nav>
    </div>
</div>