<div class="row">
    <div class="col-md-5 infobox">
        <h1>Hvordan kommer jeg dit?</h1>
        <p>Pilestredet 56 finner du sentralt på Bislett i Oslo. Den enkleste og mest praktiske frekkomstmetoden er offentrlig trransport. <a href="https://ruter.no">Trikken</a> stopper rett utenfor bygget. </p>
    </div>
    <div class="col-md-5 col-md-offset-1 infobox">
        <h1>Et hjem for dine fagmøter</h1>
        <p>Arrangerer du møter for en åpen faggruppe i Oslo? Teknologihuset tilbyr gratis lokaler til disposisjon fra kl. 18:00 til kl. 23:00 mandag til fredag!</p>
    </div>
</div>

<div class="row tenMarginGap">
    <div class="col-md-5 infobox">
        <h1>Mat og Drikke</h1>
        <p>Teknologihuset har gode avtaler med flere restauranter og serveringssteder i nærområdet. Du kan benytte våre rabatterte bestillingsløsninger og få maten levert når den er ferdig. </p>
    </div>
    <div class="col-md-5 col-md-offset-1 infobox">
        <h1>En naturlig møteplass!</h1>
        <p>Skal du arrangere fagdag eller en spennende happening? Teknologihuset er en naturlig møteplass for IT relaterte møte arrangementer. Både for bedriftsinterne og -eksterne møter!</p>
    </div>
</div>